.navbar-section {
  display: flex;
  flex-direction: row;
  text-align: right;
  width: 70%;
} 

.top-side {
  display: flex;
  justify-content: space-between;
  flex-direction: row; 
  background-color: #444444;
}

.movie-section {
  width: 90%;
  margin: auto;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  color: #000000;
}

.movie-section-img {
  margin: 20px;
}

.movie-section-title-desc {
  padding: 20px;
  font-size: 28px;
  margin-top: 10px;
}

.App {
  background-color: #292929;
}

.logo {
  color: #ffffff;
  margin-top: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-group {
  margin-left: 30px;
}

.form-navbar {
  width: 40%;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 150px;
  height: 30px;
  font-size: 15px;
}

.footer {
  width: 100%;
  height: 25px;
  background-color: #444444;
  color: #ffffff;
  bottom: 0;
  position: relative;
}
.p-footer{
  text-align: center;
}

#starRate {
  width: 14px;
  height: 14px;
}
.card{
  max-width: 800px;
  align-self: center;
  margin-top: 10px;
}
.noLink{
  text-decoration: none;
  color: #ffff;
}

button {
  border: none;
  background: none;
  color: #ffffff;
  margin-left: 10%;
}

.card-text {
  text-align: justify;
}